*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(234, 223, 234, 0.984);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    line-height: 1.6;
    color:rgba(29, 41, 207, 0.7);
    font-family: sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    box-shadow: 0 7px 37px rgba(191, 7, 216, 0.984); 
}
.navbar__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);list-style:none;
    max-width: 1300px;
}
.navbar__inner img {
    width: 320px;
    height: 171px;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-menu__link{
    text-decoration: none;
    color:rgb(251, 246, 246);
    font-weight: 700;
    padding: 16px 26px;
    background:rgba(210, 12, 236, 0.984);
    border-radius: 54px;
    box-shadow: 0 12px 22px rgba(210, 12, 236, 0.984);
    border:0.4px solid rgba(228, 80, 248, 0.984);
    transition: all 0.6s ease;
}
.nav-menu__link:hover {
    color:white;
    background: rgba(0, 0, 0, 0.984);
    transform: translateY(-5px);
    box-shadow: 0 13px 34px rgba(62, 56, 230, 0.98);
}
.nav-menu__link:active {
    transform: scale(0.91);
    background: rgba(191, 7, 216, 0.984);
}
.btn{
    padding: 15px 15px;
    border-radius: 54px;
    text-decoration: none;
    font-family: 900;
    transition: all 0.5s;
    max-width: 1300px;
}
.btn--primary{
    background:rgb(64, 64, 252);
    box-shadow:0 11px 22px rgba(83, 78, 249, 0.98);
    border:0.4px solid rgba(191, 29, 212, 0.984);
    color:rgb(251,246,246);
    font-family:sans-serif;
    font-weight:900;
    transition:all 0.6s ease;
}
.btn--primary:hover {
    color:white;
    background:rgb(0, 0, 0);
    transform: translateY(-5px);
    box-shadow: 0 12px 36px rgba(74, 69, 213, 0.98);
}
.btn--primary:active {
     background:rgb(255, 254, 254);
     transform: scale(0.91);
}
.btn--secondary{
    background:rgb(51, 51, 220);
    box-shadow:0 11px 22px rgba(143, 140, 213, 0.98);
    border:0.4px solid rgba(213, 74, 231, 0.984);
    color:rgb(254, 248, 248);
    font-family:sans-serif;
    font-weight:900;
    padding: 23px 90px;
    margin-bottom:20px;
}
.btn--secondary:hover {
    color:white;
    background: rgba(232, 225, 225, 0.984);
    transform: translateY(-5px);
    box-shadow: 0 12px 36px rgba(75, 44, 232, 0.7);
}
.btn--secondary:active {
    background:rgb(48, 92, 236);
    transform:scale(0.91);
}
.hero{
    padding:155px 0 140px;
    text-align: center;
    background: linear-gradient(rgb(232, 27, 27), #5224c6);
}
.hero__title{
    font-size: 40px;
    margin-bottom:10px;
    color:white;
}
.hero__buttons {
    gap: 20px;
}
.highlight{
    color:rgb(16, 63, 219);
}
.hero__subtitle {
    font-size:20px;
    color:white;
    margin-bottom:45px;
}
.search-box__input {
    width: 600px;
    height: 37px;
    margin-bottom: 55px;
    border-radius:22px;
    border: 0.5px solid rgba(143, 140, 213, 0.98);
}
::placeholder {
    color:black;
}
.search-box__btn {
      padding: 7px;
      border-radius: 19px;
      border: 0.5px solid rgba(143, 140, 213, 0.98);
      margin-bottom: 70px;
}
.section__title {
    text-align: center;
    font-size:40px;
    font-weight: 900;
    color:rgba(18, 18, 221, 0.812);
    border-radius: 40px;
    
}
.gallery-grid {
    background: linear-gradient(rgb(228, 66, 66),rgb(82, 82, 234));
    text-align: center;
}
.gallery-grid img {
    width: 150px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 12px 34px rgba(154, 151, 240, 0.98);
    border-radius: 30px;
}
.videos-grid {
    text-align: center;
}
.video-item {
     border-radius: 50px;
     overflow: hidden;
     box-shadow: 0 13px 23px rgba(98, 93, 246, 0.98);
     border:0.4px solid rgba(30, 75, 221, 0.34);
     background: #000000;
     padding: 10px;
     transition: all 0.4s;
     margin-bottom: 15px;
}
.video-item::hover {
    transition: translateY(-10px);
    box-shadow: 0 13px 24px rgba(249, 251, 248, 0.996);
}
.video-item iframe {
    width: 600px;
    height: 300px;
    border: none;
    padding:27px 27px;
}
.rules-grid {
    border: 0.4px solid rgba(98, 29, 201, 0.483);
    box-shadow: 0 11px 29px rgba(187, 185, 240, 0.98);
}    
.rule-card {
    background:rgb(178, 229, 206);
    font-family: sans-serif;
    color:black;
    font-style: italic;
    font-weight:bold;
}
.rule-card ul {
    list-style: none;
}
.contact-info {
    margin-bottom:20px;
    background: rgb(193, 185, 185);
    border-radius:15px;
    color:rgba(14, 14, 101, 0.812);
    box-shadow: 0 12px 34px rgba(17, 17, 199, 0.812);
    border:0.4px solid rgba(166, 166, 221, 0.812);
}
footer{
    background-color: rgb(246, 248, 248);
    text-align:center;
    color:#7b14d0;
    padding: 30px 30px 23px;
    margin: top 100px;
}



